@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'poppins', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("https://cdn.laurens8006.nl/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }

h1 {
    color:rgb(255, 255, 255);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    
    
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
 }

.content {
    flex: 1; /* Neemt de rest van de beschikbare ruimte in beslag */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
